
body {
    background-color: purple;
}

h1 {
    background-color: #66B2FF;
             color: white;
         font-size: 28pt;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7a/9d/43/7a9d43dac9eb2b2e80d3a13ca4e0c5e8.jpg")
}






