
body {
    background-color: purple;
}

h1 {
    background-color: #66B2FF;
             color: white;
         font-size: 28pt;
}

body { 
    background-image: url("http://wallpapercave.com/wp/2KHnZVw.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center; 
    background-size: 1500px 3000px;
}








