
body {
    background-color: purple;
}

h1 {
    background-color: #660066;
             color: white;
         font-size: 28pt;
}

body { 
    background-image: url("http://eskipaper.com/images/purple-backgrounds-8.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center; 
    background-size: 1700px 4000px;
}
h1 {
    text-shadow: 2px 2px #FF66FF;
}

h1 {
    font-family: "Oswald", Georgia, Serif;
}    
    
p {
    font-family: "Oswald", Georgia, Serif;
}    










